<!doctype html>
<head></head>
<body>
<section>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{details.name}}</mat-card-title>
    <mat-card-subtitle>{{details.location}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image @fade src="{{details.image}}" alt="{{details.name}}">
  <mat-card-content>
    <dl>
      <dt class="bold">Stadium:</dt>
      <dd>{{details.stadium}}</dd>
      <br>
      <dt class="bold">Stadium Capacity:</dt>
      <dd>{{details.capacity}}</dd>
      <br>
      <dt class="bold">Manager:</dt>
      <dd>{{details.manager}}</dd>
      <br>
      <dt class="bold">Captain:</dt>
      <dd>{{details.captain}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <button button (click)="showMap(details.lat, details.lng)">Show Location</button>
  </mat-card-actions>
</mat-card>

  <mat-card class="example-card">
    <mat-card-content>
  {{details.name}}!!
    From the offset, the hiring of Unai Emery as manager of Arsenal Football Club was a curious one. Conversely, he had the credentials; on paper, he was a serial winner, most notably in cup competitions where he famously achieved an unprecedented three consecutive Europa League victories. However, that hinted at a ceiling,
    and his time at Paris Saint Germain was fraught with warning signs; the falling out and constant power-play with star players, and the loss of Ligue 1 to Monaco in his first season.
But what mostly didn’t quite make him the perfect fit at the club was his reputation as a counter-attacking coach, a rigid 4-2-3-1 man. At PSG, Emery was fortunate that he didn’t have to alter much and was ultimately forced to bend to the will of his players. (The technical base that Laurent Blanc left,
    with the help of his assistant, Jean-Louis Gasset, of Verrati, Motta and Matuidi, went mostly untouched, whilst Emery admitted,
    he mostly had to adapt to his individuals).
    When he joined Arsenal, his ability to talk a good game landed him the job (apparently, his presentation, “blew away” club officials) – but ironically, it would also prove to be his downfall as he was mocked for his inability to pronounce certain words, and in interviews,
    often resorted to using the same platitudes and buzzwords (we must “control” the game better etc).
  </mat-card-content>

  </mat-card>
</section>
</body>
