<!doctype html>


<head></head>
<body>
<section>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{details.name}}</mat-card-title>
    <mat-card-subtitle>{{details.location}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image @fade src="{{details.image}}" alt="{{details.name}}">
  <mat-card-content>
    <dl>
      <dt class="bold">Stadium:</dt>
      <dd>{{details.stadium}}</dd>
      <br>
      <dt class="bold">Stadium Capacity:</dt>
      <dd>{{details.capacity}}</dd>
      <br>
      <dt class="bold">Manager:</dt>
      <dd>{{details.manager}}</dd>
      <br>
      <dt class="bold">Captain:</dt>
      <dd>{{details.captain}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="showMap(details.lat, details.lng)">Show Location</button>
  </mat-card-actions>
</mat-card>
</section>
<footer></footer>
</body>
